
/* MAIN */
body {
  font-family: 'Lato',Helvetica Neue,Helvetica,Arial,sans-serif;
  background-color: #F2F3F4
  height: 100vh;
  color: black;
}

h1, h2, h3, h4, h5{
  letter-spacing: 0.02em;
}

a{
  text-decoration: none;
  color: black;
}

a:hover{
  text-decoration: none;
  color: black;
}

.aligner {
    display: flex;
    align-items: center;
    justify-content: center;
}

.aligner-item {
    max-width: 80%;
}

#logo{
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 30px;
  padding: 1%;
}

#wellFont{
  color: black;
}

#spentFont{
  color: #63A525;
}

#chromeExtension{
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 1%;
}

#wellSpentIconRectangle{
  width:50px;
  height:50px;
  background-color:#f30;
  display:inline-block;
}

/*Intro page*/

#introContainer{
  margin: 0;
  padding: 20%;
  text-align: center;
  text-decoration: none;
  font-size: 17px;
  font-weight: 700;
  line-height: 27px;
  font-family: 'Lato', Helvetica,Arial,sans-serif;
  height: 100vh;
}

#introParagraph{
  font-size: 13px;
  font-family: 'Lato', Helvetica,Arial,sans-serif;
  display: flex;
  justify-content: center;
}

/*newsletter sign up styling*/
::-webkit-input-placeholder {
   text-align: center;
}

:-moz-placeholder { /* Firefox 18- */
   text-align: center;
}

::-moz-placeholder {  /* Firefox 19+ */
   text-align: center;
}

:-ms-input-placeholder {
   text-align: center;
}

.gif-file{
  display: none;
  position: absolute;
  top:0;
  right:0;
}

#mc_embed_signup{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#mce-EMAIL{
  text-decoration: none;
  border: 1px solid #63A525;
}

#mc-embedded-subscribe{
  background: #63A525;
  text-decoration: none;
  border: none;
}
